doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    title Drone Panorama
    link(rel="stylesheet" type="text/css" href="css/style.css")
  body
    div#stage
    script(src="js/three.min.js")
    script(src="js/DeviceOrientationControls.js")
    script(src="js/OrbitControls.js")
    script(src="js/main.js")
